{% load static %}
{% include  'header.html' %} 

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href={% static 'css/contact_us.css' %}>
<link rel="stylesheet" href={% static 'css/cssAdm.css' %}>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather|Saira+Semi+Condensed" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
	<!--HEADER CODE END-->
  <div class="fix-bg">
   <h1>Contact Us</h1>
  </div>
	<div class="breadcrump">
    <span><a href="#home" title="Home">Home</a></span> 
    >
    <span><a href="#" title="quick links">Quick Links</a></span> 
    >
    <span>Contact Us</span>
  </div>

	<hr>
		
	
<!--two column container-->

<div class="row">
	<div class="main" data-aos="fade-right">
		<div class="contain">
      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d29742.231152310003!2d81.64425184533643!3d21.28021808486857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3a28dd8dc0b36303%3A0x8da8eb8c2b8e31b2!2sRaipur+Junction+Railway+Station%2C+Station+Road%2C+Gudhiyari%2C+Raipur%2C+Chhattisgarh+492009!3m2!1d21.257068!2d81.62960149999999!4m5!1s0x3a28e7e7c999afdd%3A0xe195ce5e2cff16b3!2sPRAYAS+BOYS+RESIDENTIAL+SCHOOL+SADDU+RAIPUR%2C+Daldal+Seoni+Rd%2C+Industrial+Area%2C+Urkura%2C+Raipur%2C+Chhattisgarh+492014!3m2!1d21.2907823!2d81.6814378!5e0!3m2!1sen!2sin!4v1539569165208" width=100% height="510" frameborder="1" style="border:0" allowfullscreen></iframe>
			
    </div>
	</div>

		<div class="side" data-aos="fade-right">
		<div class="content"> 
			 <div class="cnt">
                <h2>Contact</h2>
            <div class="addresspart1">
            <p> Boys Prayas Residential School Raipur, <span>Saddu</span> – 492014&nbsp;Chhattisgarh</p>
           
            </div>
            <div class="addresspart2">
            <p><strong>General Information:- &nbsp;</strong><a >boysprayas2000@gmail.com</a></p>
            </div>
            <div class="addresspart3">
            <p><strong>Route from Raipur Railway Station to Prayas: &nbsp;</strong><a href="https://www.google.co.in/maps/dir/Raipur+Railway+Station,+Station+Road,+Moudhapara,+Raipur,+Chhattisgarh/prayas+raipur+saddu/@21.2802181,81.6450402,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3a28dd8de81cf16b:0xabd511ae8a3c3287!2m2!1d81.6301711!2d21.2567191!1m5!1m1!1s0x3a28e7e7c999afdd:0xe195ce5e2cff16b3!2m2!1d81.6814378!2d21.2907823">https://maps.app.goo.gl/i/wf7CV</a></p>
            <p><strong>Route from Raipur Airport to Prayas: &nbsp;</strong><a href="https://www.google.co.in/maps/dir/Airport+Road,+Mana+Camp,+Barauda,+Chhattisgarh/prayas+raipur+saddu/@21.239509,81.6831382,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3a28c36845a67f0d:0x24c1555468d87d9e!2m2!1d81.7149023!2d21.1917409!1m5!1m1!1s0x3a28e7e7c999afdd:0xe195ce5e2cff16b3!2m2!1d81.6814378!2d21.2907823">https://maps.app.goo.gl/i/wf7CV</a></p><p><strong>Useful Services:</strong></p>
            <p><strong>OLA Cabs :</strong> 80673 50900</p>
            </div>
              </div>
    </div>
</div>
</div>


  {% include  'footer.html' %} 

<script>
  AOS.init();
</script>
</body>
</html>