{% load static %}
{% include  'header.html' %} 
<!DOCTYPE html>
<html>
<head>
  <title>Accomodation at Prayas</title>
  <meta name="viewport" content="width=device-width, initial-scal=1.0">
  <link rel="stylesheet" href="{% static "css/hostel.css" %}">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Saira+Semi+Condensed" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
 
   <div class="fix-bg">
   <h1> Hostel</h1>
  </div>
  <div class="breadcrump">
    <span><a href="#home" title="Home">Home</a></span> 
    >
    <span><a href="#Facility" title="Facility">Facility</a></span> 
    >
    <span>Hostel</span>
  </div>
  <hr>
<div class="row">
  <div data-aos="fade-right"  class="col-7">
    <p>Prayas has it's very own hostel facility integrated with the Academic building itself. The distance between hostel and the class-room is almost negligible. Each room is accompanied by two students. Each Room has almost all the things that an aspiring student needs for. </p>
    <p><img src="{% static 'img/imgf/hostel1.JPG' %}" class="resize1"></p>
  </div>
  <div data-aos="fade-right" class="col-5">
    <p><img src="{% static 'img/imgf/hostel2.jpg' %}" class="resize1"></p>
    <p><img src="{% static 'img/imgf/hostel1.JPG' %}" class="resize1"></p>
  </div>
</div>
<script>
  AOS.init();
</script>
{% include  'footer.html' %} 
</body>
</html>









