{% load static %}
{% include  'header.html' %} 
<!DOCTYPE html>
<html>
<head>
  <title>Mess facility at Prayas</title>
  <meta name="viewport" content="width=device-width, initial-scal=1.0">
  <link rel="stylesheet" href="{% static "css/mess.css" %}">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Saira+Semi+Condensed" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
  
   <div class="fix-bg">
   <h1> Mess</h1>
  </div>
  <div class="breadcrump">
    <span><a href="#home" title="Home">Home</a></span> 
    >
    <span><a href="#Facility" title="Facility">Facility</a></span> 
    >
    <span>Mess</span>
  </div>
  <hr>
<div class="row">
  <div data-aos="fade-right"  class="col-7">
    <p>Besides knowledge Prayas is good at providing quality and tasteful foods to it's students. There's a Mess integrated with the academic building itself.</p>
    <p><img src="{% static 'img/imgf/mess1.JPG' %}" class="resize1"></p>
  </div>
  <div data-aos="fade-right" class="col-5">
    <p><img src="{% static 'img/imgf/mess2.JPG' %}" class="resize1"></p>
    <p><img src="{% static 'img/imgf/mess1.JPG' %}" class="resize1"></p>
  </div>
</div>
<script>
  AOS.init();
</script>
{% include  'footer.html' %} 
</body>
</html>









