{% load static %}
{% include  'header.html' %} 

<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
<link rel="stylesheet" href={% static 'css/mission.css' %}>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Saira+Semi+Condensed" rel="stylesheet">
   
</head>

<div class="fix-bg">
   
 </div>
  



  <div class="breadcrump">
    <span><a href="#home" title="Home">Institute</a></span> 
    >
    
    <span class="strong-color">Mission and Vission</span> 
  </div>
  <hr>

<div class="container">

<center><p class="ex2" style="color:#666;" data-aos="fade-left"><strong><font size="5">Mission- </font></strong><font size="4">PRAYAS has been founded with a vision to give quality coaching to IIT, NEET and
AIIMS aspirants who belongs to the places affected by naxalism.
At PRAYAS we have expert faculties who are either from IIT or NIT which is a first
of its kind initiated by CG Government. Smart classes, scientific and interactive
teaching methods, doubt clinic and course pre-planner make it stand out of the
crowd.</font></p></center>


<center><p class="ex2" style="color:#666;" data-aos="fade-right"><strong><font size="5">Vision- </font></strong><font size="4">The key objective of Prayas program is to provide quality education to bright and meritorious
students from Schedule Caste (SCs), Schedule Tribes (STs) and Other Backward caste (OBC) and
students from naxal affected areas so that they are able to secure their career by securing
selection in national level competitive examinations. Seats for students are reserved in the
following pattern: ST(50%), SC(20%), OBC(20%) and General 10%.We sincerely believe that education is not learning of facts instead it is a training
which makes a mind to think and imagine. That is  the reason we use technology &amp;
innovative methods which allows students to think more and memorise less which
will help them to excel in whatever field they choose.  If you dream to be an
engineer or a doctor and commit yourself to do the smart work then PRAYAS is the
place where you should see your dreams becoming reality.</font></p></center>

</div>

<script>
  AOS.init();
</script>
 {% include  'footer.html' %} 
</body>
</html>
