{% load static %}
{% include  'header.html' %} 

<!DOCTYPE html>
<html>
<head>
	
</head>
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/principal.css' %}" />

<link href="https://fonts.googleapis.com/css?family=Merriweather|Saira+Semi+Condensed" rel="stylesheet">
 



<body>
	
</body>	
	
	<div class="fix-bg">
   <h1>Administrative Officer</h1>
  </div>
  <div class="breadcrump">
                        <span><a href="#home" title="Home">Institute</a></span> 
                        &gt;
                        
                        <span class="strong-color">Administrative Officer</span> 
                      </div>
                      <hr>



<div class="container-1">
<p><strong><font size="4"> Pranab Banerjee</font></strong><font size="3">(Administrative Officer, Prayas Raipur)</font></p>
<p><img class="imgage" src="{% static 'img/principle/principle.JPG' %}" >In its early stages, human mind is a coarse grain of sand, recurring a nurturing shell of broad spectrum of earning opportunities and experiences. It eventually gets nourishes into natures most gifted ominous pearl of creative ideas, knowledge and critical Hinging that ever revolutionized the world.I am extremely sanguine that PRAYAS Since its genesis has offered itself as a shell for sheltering &amp;
fostering human minds in their raw state to be matured into empowered innovatiors, inversionist and
discovers. the school in these years has unlocked the store house of taken &amp; creative genius and set
buoyant human spirit ever eroding and co-curricular activities. The wheel of excellence and continual
progress has been steered with values &amp; conventions as its fulcrum, quality education, constant
improvement in infrastructure, educational technology, teaching and learning processes as its
spokes to fortify innumerable efforts to set the wheel on its track.</p>


</div>


<div class="container-2">
	
	<center><video  controls>
  <source src="{% static 'video/MVI_4770.mp4' %}">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video></center>

</div>

<div class="container-3">
<p>The need of the hour is to root students firmly in an enabling &amp; constructive work ethel for their
meaningful blossoming. Meeting this need, PRAYAS set up three more edifices of learning equipped
with latest educational technology down the hemline. The four edifices of learning act as a spring
board for honing shills &amp; harnessing unbound talents of young learners with unique needs. The
school administration has been able to create a levitate balance between quality and quantity as
may be the popular belief.It is believed that a thin line demarcates a good school from a truly great one. I am deeply gratified to claim that in the year of our enriching odyssey, we are already half way to becoming a truly herat
school. The school will continue undeterred till the dessication is reached. In the next years, with our
uncompromising ideals, constant support and faith of state holders in our professionalism, we would
like to encourage greater student-led initiate, teachership development &amp; self -led teaching.</p>
</div>


</div>



 {% include  'footer.html' %} 




</html>