

{% load static %}
{% include  'header.html' %} 

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/review.css' %}" />
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/cssAdm.css' %}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Merriweather|Saira+Semi+Condensed" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
	<!--HEADER CODE END-->
  <div class="fix-bg">
   <h1>Review</h1>
  </div>
	<div class="breadcrump">
    <span><a href="#home" title="Home">Home</a></span> 
    >
    <span><a href="#" title="quick links">Quick Links</a></span> 
    >
    <span>Student Review</span>
  </div>

	<hr>
		
	
<!--two column container-->

<div class="row">
	<div class="main" >
		<div class="contain">

        {% for reviews in object_list %}
			<div class="Review-box"    data-aos="fade-right" >
			<div class="Review-content InsideContent">
				 <div class="Review-right InsideContent">
					<a>{{ reviews.review }}</a>
                    <p><b>{{ reviews.name }}</b></p>
				</div>
			</div>
		</div>
        {% endfor %}
		{% comment %} <div class="Review-box">
      <div class="Review-content InsideContent">
         <div class="Review-right InsideContent">
          <a>this is very good and that halua hai sb yaha pe kuch ni pata chalta kya kr rhe hai sala.dimag kharab hai nsbjhfbf vhjbhj vbhjfbvhjbfh bvhjfbv hfhbvh jfbfvhjbhjbvh fbhjvbkkwoiir iutiugiujbvfbb riurui hruihui rguir uguru ui uirr hr ghrhrbh  jrbhjrbhbrh jfbhrbf hrbhgbrhbg hbr hjgbrhbg hjebh</a>
          <p><b>Ramu kaka IIITNR</b></p>
        </div>
      </div>
    </div>
    <div class="Review-box">
      <div class="Review-content InsideContent">
         <div class="Review-right InsideContent">
          <a>this is very good and that halua hai sb yaha pe kuch ni pata chalta kya kr rhe hai sala.dimag kharab hai nsbjhfbf vhjbhj vbhjfbvhjbfh bvhjfbv hfhbvh jfbfvhjbhjbvh fbhjvbkkwoiir iutiugiujbvfbb riurui hruihui rguir uguru ui uirr hr ghrhrbh  jrbhjrbhbrh jfbhrbf hrbhgbrhbg hbr hjgbrhbg hjebh</a>
          <p><b>Ramu kaka IIITNR</b></p>
        </div>
      </div>
    </div>
    <div class="Review-box">
      <div class="Review-content InsideContent">
         <div class="Review-right InsideContent">
          <a>this is very good and that halua hai sb yaha pe kuch ni pata chalta kya kr rhe hai sala.dimag kharab hai nsbjhfbf vhjbhj vbhjfbvhjbfh bvhjfbv hfhbvh jfbfvhjbhjbvh fbhjvbkkwoiir iutiugiujbvfbb riurui hruihui rguir uguru ui uirr hr ghrhrbh  jrbhjrbhbrh jfbhrbf hrbhgbrhbg hbr hjgbrhbg hjebh</a>
          <p><b>Ramu kaka IIITNR</b></p>
        </div>
      </div>
    </div>
    <div class="Review-box">
      <div class="Review-content InsideContent">
         <div class="Review-right InsideContent">
          <a>this is very good and that halua hai sb yaha pe kuch ni pata chalta kya kr rhe hai sala.dimag kharab hai nsbjhfbf vhjbhj vbhjfbvhjbfh bvhjfbv hfhbvh jfbfvhjbhjbvh fbhjvbkkwoiir iutiugiujbvfbb riurui hruihui rguir uguru ui uirr hr ghrhrbh  jrbhjrbhbrh jfbhrbf hrbhgbrhbg hbr hjgbrhbg hjebh</a>
          <p><b>Ramu kaka IIITNR</b></p>
        </div>
      </div>
    </div>
    <div class="Review-box">
      <div class="Review-content InsideContent">
         <div class="Review-right InsideContent">
          <div class="p1">
          <p>this is very good and that halua hai sb yaha pe kuch ni pata chalta kya kr rhe hai sala.dimag kharab hai nsbjhfbf vhjbhj vbhjfbvhjbfh bvhjfbv hfhbvh jfbfvhjbhjbvh fbhjvbkkwoiir iutiugiujbvfbb riurui hruihui rguir uguru ui uirr hr ghrhrbh  jrbhjrbhbrh jfbhrbf hrbhgbrhbg hbr hjgbrhbg hjebh</p>
        </div>
          <p><b>Ramu kaka IIITNR</b></p>
        </div>
      </div>
    </div> {% endcomment %}
	</div>
	</div>
	<div class="side" data-aos="fade-right">
		<div class="content"> 
			 <div class="cnt">
                <h2>Contact</h2>
            <div class="addresspart1">
            <p> Boys Prayas Residential School Raipur, <span>Saddu</span> – 492014&nbsp;Chhattisgarh</p>
           
            </div>
            <div class="addresspart2">
            <p><strong>General Information:- &nbsp;</strong><a >boysprayas2000@gmail.com</a></p>
            </div>
            <div class="addresspart3">
            <p><strong>Route from Raipur Railway Station to Prayas: &nbsp;</strong><a href="https://www.google.co.in/maps/dir/Raipur+Railway+Station,+Station+Road,+Moudhapara,+Raipur,+Chhattisgarh/prayas+raipur+saddu/@21.2802181,81.6450402,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3a28dd8de81cf16b:0xabd511ae8a3c3287!2m2!1d81.6301711!2d21.2567191!1m5!1m1!1s0x3a28e7e7c999afdd:0xe195ce5e2cff16b3!2m2!1d81.6814378!2d21.2907823">https://maps.app.goo.gl/i/wf7CV</a></p>
            <p><strong>Route from Raipur Airport to Prayas: &nbsp;</strong><a href="https://www.google.co.in/maps/dir/Airport+Road,+Mana+Camp,+Barauda,+Chhattisgarh/prayas+raipur+saddu/@21.239509,81.6831382,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3a28c36845a67f0d:0x24c1555468d87d9e!2m2!1d81.7149023!2d21.1917409!1m5!1m1!1s0x3a28e7e7c999afdd:0xe195ce5e2cff16b3!2m2!1d81.6814378!2d21.2907823">https://maps.app.goo.gl/i/wf7CV</a></p><p><strong>Useful Services:</strong></p>
            <p><strong>OLA Cabs :</strong> 80673 50900</p>
            </div>
              </div>
    </div>
</div>
</div>


 {% include  'footer.html' %} 
<script>
  AOS.init();
</script>
</body>
</html>